[Unit]
Description=YugabyteDB Master Server
Documentation=https://docs.yugabyte.com/
After=network.target
Wants=network.target

[Service]
Type=forking
User={{ yugabytedb_user }}
Group={{ yugabytedb_group }}
Environment="HOME=/home/{{ yugabytedb_user }}"
ExecStart={{ yugabytedb_install_dir }}/current/bin/yugabyted start \
  --background=false \
  --master_flags="--fs_data_dirs={{ yugabytedb_data_dir }}/master" \
  --tserver_flags="" \
  --ysql_enable=false \
  --ycql_enable=false
ExecStop={{ yugabytedb_install_dir }}/current/bin/yugabyted stop
PIDFile={{ yugabytedb_data_dir }}/master/yugabyted.pid
Restart=on-failure
RestartSec=10
LimitNOFILE=200000
LimitNPROC=200000

# Security hardening
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ReadWritePaths={{ yugabytedb_data_dir }} {{ yugabytedb_log_dir }}

[Install]
WantedBy=multi-user.target
