```
# Configuration and data files for YugabyteDB role
roles/yugabytedb/defaults/main.yml
roles/yugabytedb/handlers/main.yml
roles/yugabytedb/meta/main.yml
roles/yugabytedb/tasks/main.yml
roles/yugabytedb/templates/master_gflags.conf.j2
roles/yugabytedb/templates/tserver_gflags.conf.j2
roles/yugabytedb/templates/yugabytedb-master.service.j2
roles/yugabytedb/templates/yugabytedb-tserver.service.j2
```