# Managed by Ansible – yugabyte.db collection
# yb-master configuration flags

--rpc_bind_addresses={{ yugabyte_master_rpc_bind_address }}:{{ yugabyte_master_rpc_port }}
--webserver_port={{ yugabyte_master_http_port }}
--fs_data_dirs={{ yugabyte_master_fs_data_dirs }}
--log_dir={{ yugabyte_master_log_dir }}
--master_addresses={{ _yugabyte_master_addresses }}
--replication_factor={{ yugabyte_replication_factor }}

# YSQL
--enable_ysql={{ yugabyte_enable_ysql | lower }}

# YCQL
--use_cassandra_authentication={{ yugabyte_ycql_auth | lower }}

{% if yugabyte_enable_tls %}
# TLS
--use_node_to_node_encryption=true
--allow_insecure_connections=false
--certs_dir={{ yugabyte_cert_dir }}
{% endif %}

{% for key, value in yugabyte_master_extra_flags.items() %}
--{{ key }}={{ value }}
{% endfor %}
