# Managed by Ansible – yugabyte.db collection
# yb-tserver configuration flags

--rpc_bind_addresses={{ yugabyte_tserver_rpc_bind_address }}:{{ yugabyte_tserver_rpc_port }}
--webserver_port={{ yugabyte_tserver_http_port }}
--fs_data_dirs={{ yugabyte_tserver_fs_data_dirs }}
--log_dir={{ yugabyte_tserver_log_dir }}
--tserver_master_addrs={{ _yugabyte_master_addresses }}

# YSQL
--enable_ysql={{ yugabyte_enable_ysql | lower }}
--pgsql_proxy_bind_address=0.0.0.0:{{ yugabyte_ysql_port }}
--ysql_enable_auth={{ yugabyte_ysql_auth | lower }}

# YCQL
--cql_proxy_bind_address=0.0.0.0:{{ yugabyte_ycql_port }}
--use_cassandra_authentication={{ yugabyte_ycql_auth | lower }}

# YEDIS
--start_redis_proxy={{ yugabyte_enable_yedis | lower }}
--redis_proxy_bind_address=0.0.0.0:{{ yugabyte_yedis_port }}

{% if yugabyte_enable_tls %}
# TLS
--use_node_to_node_encryption=true
--use_client_to_server_encryption=true
--allow_insecure_connections=false
--certs_dir={{ yugabyte_cert_dir }}
{% endif %}

{% for key, value in yugabyte_tserver_extra_flags.items() %}
--{{ key }}={{ value }}
{% endfor %}
